@use '../abstracts/' as *;

.popup-consultation {
  @include flexCenter;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(8, 38, 43, 0.5);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.5s;

  &_visible {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }

  &_display-none {
    display: none;
  }
}

.popup-consultation__cross {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: -40px;
  width: 32px;
  height: 32px;

  &::before,
  &::after {
    position: absolute;
    left: 15px;
    top: 0;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: $button-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.popup-consultation__content {
  margin: 30px;
  position: relative;
  width: 100%;
  max-width: 700px;
  background: linear-gradient(286deg, #033958 3.6%, #0f6b78 91%);
  box-shadow: 0 20px 50px rgba(0 0 0 / 0.5);
  border-radius: 20px;
  padding: 30px 30px;
  transition: 3s;
}

.popup-consultation__title {
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
}

.popup-consultation__title-decorate-word {
  color: $primary-color;
}

.popup-consultation__wrapper-input {
  width: 100%;
}

.popup-consultation__label {
  margin-bottom: 10px;
  margin-top: 20px;
  display: block;
  line-height: 16px;
  color: $button-color;
}

.popup-consultation__input {
  box-sizing: border-box;
  display: block;
  width: 0;
  width: 100%;
  font-size: 15px;
  background: linear-gradient(
    180deg,
    rgba(0 224 255 / 0.1) 0%,
    rgba(0 224 255 / 0.06) 100%
  );
  border-radius: 9px;
  border: 2px solid rgba(73 185 232 / 5);
  font-weight: 500;
  line-height: 18px;
  outline: none;
  padding: 20px;
  padding-bottom: 15px;
  color: $text-color;
}

.popup-consultation__button-submit {
  margin-top: 35px;
  background: $gradient1;
  box-shadow: 0 7px 20px -7px $button-color;
  border-radius: 9px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: $text-color;
  padding: 25px;
  width: 100%;
}

@media (max-width: $middle) {
  .popup-consultation__label {
    font-size: 12px;
  }

  .popup-consultation__input {
    font-size: 13px;
  }
}

@media (max-height: 800px) {
  .popup-consultation {
    align-items: flex-start;
  }

  .popup-consultation__content {
    margin-top: 60px;
  }
}
