<footer class="footer">
  <div class="go-top">
    <button title="go-top" class="go-top-img-wrapper-wrapper">
      <span class="go-top-img-wrapper">
        <img class="go-top-img" src="./img/arrow.svg" alt="go-top" />
      </span>
    </button>
    <span class="go-top__text">Бесплатная консультация</span>
  </div>
  <div class="container">
    <div class="footer__inner">
      <div class="footer__hz">
        <a class="logo" href="#">
          <img class="logo__img" src="./img/logo.svg" alt="logo" />
          <div class="logo__text-wrapper">
            <h1 class="logo__title">VeraVia edu</h1>
            <span class="logo__subtitle">Online education academy</span>
          </div>
        </a>
        <div>
          <div class="footer__contacts">
            <div class="footer__email">
              <img
                class="footer__email-icon"
                src="./img/email-icon.svg"
                alt="footer__email-icon"
              />
              veravlaedu@gmail.com
            </div>
            <div class="footer__div-number">
              <img
                class="div-number__icon_footer"
                src="./img/phone-icon.svg"
                alt="header__phone"
              />
              + 82 10 7526-9192
            </div>
          </div>
          <div class="footer__socials">
            <span class="footer__socials-text">Мы в соц сетях</span>
            <a class="footer__socials-link" title="facebook-link" href="#">
              <img
                class="footer__socials-icon"
                src="./img/facebook.svg"
                alt="facebook link"
              />
            </a>
            <a class="footer__socials-link" title="whatsapp-link" href="#">
              <img
                class="footer__socials-icon"
                src="./img/whatsapp.svg"
                alt="whatsapp link"
              />
            </a>
            <a class="footer__socials-link" title="youtube-link" href="#">
              <img
                class="footer__socials-icon"
                src="./img/youtube.svg"
                alt="youtube link"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="footer__copyright-line">
        <span class="footer__copyright"
          >Copyright © 2021 VeraVla edu. All rights reserved</span
        >
      </div>
    </div>
  </div>
</footer>
