<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="#">
        <img class="logo__img" src="./img/logo.svg" alt="logo" />
        <div class="logo__text-wrapper">
          <h1 class="logo__title">VeraVia edu</h1>
          <span class="logo__subtitle">Online education academy</span>
        </div>
      </a>
      <img
        class="div-number__icon div-number__icon_mobile"
        src="./img/phone-icon.svg"
        alt="header__phone"
        tabindex="0"
      />
      <div class="header__div-number">
        <img
          class="div-number__icon"
          src="./img/phone-icon.svg"
          alt="header__phone"
        />
        <span class="div-number__phone">+ 82 10 7526-9192</span>
        <img
          class="div-number__cross"
          src="./img/cross.svg"
          alt="Закрыть"
          tabindex="0"
        />
      </div>
    </div>
  </div>
</header>
