<div class="popup-consultation popup-consultation_display-none">
  <div class="popup-consultation__content">
    <div class="popup-consultation__cross" tabindex="0"></div>
    <form>
      <h3 class="popup-consultation__title">
        <span class="popup-consultation__title-decorate-word">
          Записаться
        </span>
        на ознакомительный вебинар
      </h3>
      <div class="popup-consultation__wrapper-input">
        <label class="popup-consultation__label" for="full-name"
          >Ваше ФИО:</label
        >
        <input
          class="popup-consultation__input"
          type="text"
          name="full-name"
          id="full-name"
        />
      </div>
      <div class="popup-consultation__wrapper-input">
        <label class="popup-consultation__label" for="phone-number"
          >Номер телефона:</label
        >
        <input
          class="popup-consultation__input"
          type="tel"
          name="phone-number"
          id="phone-number"
        />
      </div>
      <div class="popup-consultation__wrapper-input">
        <label class="popup-consultation__label" for="email">Ваш e-mail:</label>
        <input
          class="popup-consultation__input"
          type="email"
          name="email"
          id="email"
        />
      </div>
      <div class="popup-consultation__wrapper-input">
        <label class="popup-consultation__label" for="date"
          >Выберите дату и время вебинара:</label
        >
        <input
          class="popup-consultation__input"
          type="datetime-local"
          name="date"
          id="date"
        />
      </div>
      <button class="popup-consultation__button-submit" type="submit">
        Записаться
      </button>
    </form>
  </div>
</div>
